In [63]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
import seaborn as sns

pd.set_option('display.max_columns',None)

In [32]:
data = pd.read_csv("bank-full.csv", delimiter=";")
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [34]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [35]:
data['education'].unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [36]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [48]:
data_encoded = pd.get_dummies(data, columns=['job','marital','housing','loan','contact','poutcome','education'],drop_first=False)
data_encoded = data_encoded.replace({True: 1, False: 0})
data_encoded

C:\Users\dulin\AppData\Local\Temp\ipykernel_100952\3708991859.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_encoded = data_encoded.replace({True: 1, False: 0})

,age,default,balance,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,housing_no,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,education_primary,education_secondary,education_tertiary,education_unknown
0,58,no,2143,5,may,261,1,-1,0,no,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0
1,44,no,29,5,may,151,1,-1,0,no,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,1,0,1,0,0
2,33,no,2,5,may,76,1,-1,0,no,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0
3,47,no,1506,5,may,92,1,-1,0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1
4,33,no,1,5,may,198,1,-1,0,no,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,no,825,17,nov,977,3,-1,0,yes,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0,1,0
45207,71,no,1729,17,nov,456,2,-1,0,yes,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0,0
45208,72,no,5715,17,nov,1127,5,184,3,yes,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0
45209,57,no,668,17,nov,508,4,-1,0,no,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0
45210,37,no,2971,17,nov,361,2,188,11,no,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,1,0,0,0,1,0,0

In [49]:
data_encoded['y'] = data_encoded['y'].map({'yes':1, 'no':0})
data_encoded

,age,default,balance,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,housing_no,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,education_primary,education_secondary,education_tertiary,education_unknown
0,58,no,2143,5,may,261,1,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0
1,44,no,29,5,may,151,1,-1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,1,0,1,0,0
2,33,no,2,5,may,76,1,-1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0
3,47,no,1506,5,may,92,1,-1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1
4,33,no,1,5,may,198,1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,no,825,17,nov,977,3,-1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0,1,0
45207,71,no,1729,17,nov,456,2,-1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0,0
45208,72,no,5715,17,nov,1127,5,184,3,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0
45209,57,no,668,17,nov,508,4,-1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0
45210,37,no,2971,17,nov,361,2,188,11,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,1,0,0,0,1,0,0

In [50]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data_encoded['default'] = label_encoder.fit_transform(data_encoded['default'])
data_encoded['month'] = label_encoder.fit_transform(data_encoded['month'])

In [52]:
print(data['y'].value_counts(normalize=True)*100)
data_encoded

y
no     88.30152
yes    11.69848
Name: proportion, dtype: float64

,age,default,balance,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,housing_no,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,contact_unknown,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,education_primary,education_secondary,education_tertiary,education_unknown
0,58,0,2143,5,8,261,1,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,0
1,44,0,29,5,8,151,1,-1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,1,0,1,0,0
2,33,0,2,5,8,76,1,-1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0
3,47,0,1506,5,8,92,1,-1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1
4,33,0,1,5,8,198,1,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,0,825,17,9,977,3,-1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0,1,0
45207,71,0,1729,17,9,456,2,-1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0,0
45208,72,0,5715,17,9,1127,5,184,3,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0
45209,57,0,668,17,9,508,4,-1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,0
45210,37,0,2971,17,9,361,2,188,11,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,1,0,0,0,1,0,0

In [66]:
data_encoded['balance'].unique()

array([ 2143,    29,     2, ...,  8205, 14204, 16353], dtype=int64)

In [53]:
x = data_encoded.drop(['y'],axis=1)
y = data_encoded['y']
x = x.astype(int)

x_train, x_test, y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=1)
y_train

22468    0
6896     0
28408    0
8481     0
28753    0
        ..
43723    0
32511    0
5192     0
12172    0
33003    0
Name: y, Length: 36168, dtype: int64

In [61]:
smote = SMOTE(sampling_strategy='minority')
x_train_final,y_train_final = smote.fit_resample(x_train,y_train)

x_train_final.value_counts()

age  default  balance  day  month  duration  campaign  pdays  previous  job_admin.  job_blue-collar  job_entrepreneur  job_housemaid  job_management  job_retired  job_self-employed  job_services  job_student  job_technician  job_unemployed  job_unknown  marital_divorced  marital_married  marital_single  housing_no  housing_yes  loan_no  loan_yes  contact_cellular  contact_telephone  contact_unknown  poutcome_failure  poutcome_other  poutcome_success  poutcome_unknown  education_primary  education_secondary  education_tertiary  education_unknown
35   0         1766    14   0      330       1         -1     0         0           0                0                 0              0               0            0                  0             0            0               0               0            0                 0                0               1           0            1        0         1                 0                  0                0                 0               0                 1                 0                  0                    0                   0                    3
               49      7    9      345       1          96    5         0           0                0                 0              0               0            0                  0             0            0               0               0            0                 1                0               0           0            1        0         1                 0                  0                0                 0               1                 0                 0                  1                    0                   0                    3
30   0         0       9    1      722       1         -1     0         0           0                0                 0              0               0            0                  0             0            0               0               0            0                 0                0               0           0            1        0         1                 0                  0                0                 0               0                 1                 0                  0                    0                   0                    3
26   0         243     25   8      484       1         -1     0         0           0                0                 0              0               0            0                  0             0            0               0               0            0                 1                0               0           0            1        0         1                 0                  0                0                 0               0                 1                 0                  0                    0                   0                    3
40   0         1646    4    1      172       1          92    5         0           0                0                 0              0               0            0                  0             0            1               0               0            0                 0                1               0           1            1        0         1                 0                  0                0                 0               1                 0                 0                  0                    1                   0                    3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
35   0        -78      28   1      102       13        -1     0         0           0                0                 0              0               0            0                  0             0            1               0               0            0                 1                0               1           0            1        0         1                 0                  0                0                 0               0                 1                 0                  1                    0                   0                    1
              -70      21   1      295       2          182   2         0           0                0                 0              0               0            0                  0             0            0               0               0            0                 1                0               0           0            1        0         1                 0                  0                0                 0               0                 0                 0                  0                    1                   0                    1
              -69      5    8      300       1         -1     0         0           0                1                 0              0               0            0                  0             0            0               0               0            1                 0                0               0           1            1        0         0                 0                  1                0                 0               0                 1                 0                  1                    0                   0                    1
              -68      15   8      203       4         -1     0         0           0                1                 0              0               0            0                  0             0            0               0               0            0                 0                1               0           1            0        1         0                 0                  1                0                 0               0                 1                 0                  0                    1                   0                    1
95   0         2282    21   0      207       17        -1     0         0           0                0                 0              0               1            0                  0             0            0               0               0            1                 0                0               1           0            1        0         0                 1                  0                0                 0               0                 1                 1                  0                    0                   0                    1
Name: count, Length: 63237, dtype: int64

In [62]:
data_encoded.isnull().sum()

age                    0
default                0
balance                0
day                    0
month                  0
duration               0
campaign               0
pdays                  0
previous               0
y                      0
job_admin.             0
job_blue-collar        0
job_entrepreneur       0
job_housemaid          0
job_management         0
job_retired            0
job_self-employed      0
job_services           0
job_student            0
job_technician         0
job_unemployed         0
job_unknown            0
marital_divorced       0
marital_married        0
marital_single         0
housing_no             0
housing_yes            0
loan_no                0
loan_yes               0
contact_cellular       0
contact_telephone      0
contact_unknown        0
poutcome_failure       0
poutcome_other         0
poutcome_success       0
poutcome_unknown       0
education_primary      0
education_secondary    0
education_tertiary     0
education_unknown      0
dtype: int64

In [67]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score

In [ ]:
random_forrest_model = RandomForestClassifier(n_estimators=100,random_state=1)
random_forrest_model.fit(x_train_final, y_train_final)

random_forrest_model_pred = random_forrest_model.predict(x_test)

Accuracy: 0.9013601680858122

'              precision    recall  f1-score   support\n\n           0       0.93      0.96      0.95      7993\n           1       0.61      0.43      0.50      1050\n\n    accuracy                           0.90      9043\n   macro avg       0.77      0.70      0.72      9043\nweighted avg       0.89      0.90      0.89      9043\n'

In [73]:
print("Accuracy:" , accuracy_score(y_test,random_forrest_model_pred))
print(classification_report(y_test,random_forrest_model_pred))

Accuracy: 0.9013601680858122
              precision    recall  f1-score   support

           0       0.93      0.96      0.95      7993
           1       0.61      0.43      0.50      1050

    accuracy                           0.90      9043
   macro avg       0.77      0.70      0.72      9043
weighted avg       0.89      0.90      0.89      9043