In [44]:
import pandas as pd
from sklearn import preprocessing

pd.set_option('display.max_columns',None)

In [45]:
data = pd.read_csv("bank-full.csv", delimiter=";")
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [47]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [48]:
data['education'].unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [49]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [50]:
label_encoder = preprocessing.LabelEncoder()

data['education'] = label_encoder.fit_transform(data['education'])
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,2,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,1,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,1,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,3,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,3,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,2,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,0,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,1,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,1,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,1,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [51]:
data_encoded = pd.get_dummies(data, columns=['job','marital','housing','loan','contact','poutcome'],drop_first=False)

data_encoded.drop(columns=['job_unknown','contact_unknown','poutcome_unknown'],inplace=True)
data_encoded

,age,education,default,balance,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single,housing_no,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,poutcome_failure,poutcome_other,poutcome_success
0,58,2,no,2143,5,may,261,1,-1,0,no,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False
1,44,1,no,29,5,may,151,1,-1,0,no,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,True,True,False,False,False,False,False,False
2,33,1,no,2,5,may,76,1,-1,0,no,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,True,False,True,False,False,False,False,False
3,47,3,no,1506,5,may,92,1,-1,0,no,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False
4,33,3,no,1,5,may,198,1,-1,0,no,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,2,no,825,17,nov,977,3,-1,0,yes,False,False,False,False,False,False,False,False,False,True,False,False,True,False,True,False,True,False,True,False,False,False,False
45207,71,0,no,1729,17,nov,456,2,-1,0,yes,False,False,False,False,False,True,False,False,False,False,False,True,False,False,True,False,True,False,True,False,False,False,False
45208,72,1,no,5715,17,nov,1127,5,184,3,yes,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,False,True,False,True,False,False,False,True
45209,57,1,no,668,17,nov,508,4,-1,0,no,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,True,False,False,False
45210,37,1,no,2971,17,nov,361,2,188,11,no,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,True,False,False,True,False

In [52]:
data_encoded['y'] = data_encoded['y'].map({'yes':1, 'no':0})
data_encoded

,age,education,default,balance,day,month,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single,housing_no,housing_yes,loan_no,loan_yes,contact_cellular,contact_telephone,poutcome_failure,poutcome_other,poutcome_success
0,58,2,no,2143,5,may,261,1,-1,0,0,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False
1,44,1,no,29,5,may,151,1,-1,0,0,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,True,True,False,False,False,False,False,False
2,33,1,no,2,5,may,76,1,-1,0,0,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,True,False,True,False,False,False,False,False
3,47,3,no,1506,5,may,92,1,-1,0,0,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False
4,33,3,no,1,5,may,198,1,-1,0,0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,2,no,825,17,nov,977,3,-1,0,1,False,False,False,False,False,False,False,False,False,True,False,False,True,False,True,False,True,False,True,False,False,False,False
45207,71,0,no,1729,17,nov,456,2,-1,0,1,False,False,False,False,False,True,False,False,False,False,False,True,False,False,True,False,True,False,True,False,False,False,False
45208,72,1,no,5715,17,nov,1127,5,184,3,1,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,False,True,False,True,False,False,False,True
45209,57,1,no,668,17,nov,508,4,-1,0,0,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,True,False,False,False
45210,37,1,no,2971,17,nov,361,2,188,11,0,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,True,False,False,True,False